

h4 {
    /* color:gray;
    font-family: 'ABeeZee', sans-serif;
    bottom: 0;
    
    border: 1px solid gray;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    display: justify; */
    color: grey;
    margin-left: 2px;
    font-family: Aldrich, sans-serif;
    align-content: center;
    border: 1px solid grey;
    border-image: initial;
    padding: 15px;
    margin-top: 40px;
}
h4 a {
    color: gray;
    text-decoration: none;
}
h4 a:hover{
    text-decoration:none;
    color: yellow;
}
span {
    font-family: 'Aldrich', sans-serif;
    background-color:yellow;
    padding:12px;
    color:black;
    top:0;
    /* width: 180px; */
}

#lowerbar {
    background-color: #000000d4;
    position:fixed;
    padding-top:10px;
    padding-bottom:10px;
}
.logo {
    width:60px;
}


#slider {
    overflow: hidden;
    width: 100%;
    margin-bottom:-25%;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0%;
    left: 0%;
    animation: 20s slider infinite;
    

}
#slider figure img {
    width: 20%;
    float: left;

}
@keyframes slider {
    0% {
        left: 0%;
    }
    20% {
       left: 0%;
   }
   25% {
       left: -100%;
   }
   45% {
       left: -100%;
   }
   50% {
       left: -200%;
   }
   70% {
       left: -200%;
   }
   75% {
       left: -300%;
   }
   90% {
       left: -300%;
   }
   100% {
       left: -400%;
   }
}  
#nav {
    height: 90px;
    background: black;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
}
#nav ul {
    list-style: none;
}   
#nav ul li {
    padding-left: 30px;
    display: inline;
    font-family: 'Crimson Pro', serif;
    text-decoration: none;
}
#nav ul li a:link{
    color:white;
    text-decoration: none;

}
#nav ul li a:visited {
    color: white;
}
#nav ul li a:hover {
    color: grey;
}
#nav ul li a:active {
    color: grey;
} 
#logo {
    color:rgb(190, 5, 5);
    padding: 20px;
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
}
  
#nav.change {
    background: red;
    transition: all ease .5s;
}
.links {
     float: right;
     margin-top: -2.6em;
     margin-right: 1em;
     color: white;
 }
input[type=text] {
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  

input[type=text]:focus {
    width: -100%;
  }

#artist-pg  {
    background-color:black;
}
